body {
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Lucida Handwriting" , cursive;
    background-color: #000000;
}

 header {
  font-family: "Papyrus" , fantasy;
  padding: 0px;
  text-align: left;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150px;
}

header img {
  width: 100%; /* make the image take up the full width of the header */
  height: 100%; /* make the image take up the full height of the header */
  object-fit: cover; /* make the image cover the entire header area */
  border-radius: 100;
}

.instructions {
  position: absolute;
  top: 250px; /* adjust this value to position the instructions below the header image */
  left: 0;
  width: 300px;
  color: #FFFFFF;
  background-color: transparent; /* add a background color to distinguish the instructions area */
  padding: 20px;
  font-family: "Lucida Handwriting", cursive; /* inherit the font family from the body */

}
.world-map {

    position: absolute;
    margin-bottom: 600px;
    margin-left: 500px;
    text-align: center;
    justify-content: center;
}
#globeCanvas {
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    background-color: white;
    position: absolute; /* This lets you position it exactly where you want */
    top: 0px; /* Distance from the top of the page */
    left: 250px; /* Distance from the left side of the page */
}
.world-map label {
    position: absolute;
    top: 550px;
    left: 250px;
    font-size: 30px;
    font-weight: bold;
    color: #FF69B4;
    font-family: Arial, sans-serif;
    font-style: italic;
    white-space: nowrap;


}

.scores {

  display: inline-block;
  vertical-align: top; /* adjust the vertical alignment */
  position: absolute;
  margin-top: 370px;
  margin-left: 300px; /* add some space between the header image and the score */
  text-align: center;
  color: #B0E0E6;
  font-size: 50px;
  font-weight: bold;
  background-color: transparent; /* adjust this value to set the background color */
  padding: 10px; /* add some padding to the container */
  border-radius: 10px;
}
.your-score {
  color: #0000CD;
}

.ai-score {
  color: #DC143C;
}

.scores p {
  margin: 0; /* remove default paragraph margin */
}

.scores span {
  font-weight: normal; /* reset font weight for score values */
}
.image-container {
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
  text-align: right;
}

.image-container img {

  flex: 1;
  width: 400px; /* adjust this value to set the width of the image */
  height: 300px; /* adjust this value to set the height of the image */
  border: 1px solid #ddd;
  border-radius: 10px;

}
.image-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #FF69B4;
  font-family: Arial, sans-serif; /* change the font to Arial */
  font-style: italic;
  font-size: 18px;/* make the text italic */
  font-weight: bold;

}